<section
  class="h-[250px] flex flex-col items-center justify-center bg-[#181717]"
>
  <div
    class="flex flex-col items-center justify-center p-6 space-y-4 md:space-y-0 text-center"
  >
    <p
      class="flex sm:flex-row font-medium flex-wrap sm:flex-nowrap xs:space-x-4 sm:space-x-16 md:space-x-20 lg:space-x-28 xl:space-x-40 space-x-4"
    >
      <a href="#" class="hover:text-cyan-200"
        ><img
          src="../../../assets/images/icon-facebook.svg "
          class="w-[25px] h-[25px] xs:w-[30px] xs:h-[30px] md:w-full md:h-full"
      /></a>
      <a href="#" class="hover:text-cyan-200"
        ><img
          src="../../../assets/images/icon-instagram.svg"
          class="w-[25px] h-[25px] xs:w-[30px] xs:h-[30px] md:w-full md:h-full"
      /></a>
      <a href="#" class="hover:text-cyan-200"
        ><img
          src="../../../assets/images/icon-twitter.svg"
          class="w-[25px] h-[25px] xs:w-[30px] xs:h-[30px] md:w-full md:h-full"
      /></a>
      <a href="#" class="hover:text-cyan-200"
        ><img
          src="../../../assets/images/tiktok-outline-svgrepo-com.svg"
          class="w-[25px] h-[25px] xs:w-[30px] xs:h-[30px] md:w-full md:h-full"
      /></a>
      <a href="#" class="hover:text-cyan-200"
        ><img
          src="../../../assets/images/youtube-svgrepo-com.svg"
          class="w-[25px] h-[25px] xs:w-[30px] xs:h-[30px] md:w-full md:h-full"
      /></a>
      <a href="#" class="hover:text-cyan-200"
        ><img
          src="../../../assets/images/tradingview-svgrepo-com.svg"
          class="w-[25px] h-[25px] xs:w-[30px] xs:h-[30px] md:w-full md:h-full"
      /></a>
    </p>
  </div>
</section>
