<section class="bg-gradient-to-b from-[#282828] via-[#3f3d3d] to-[#282828]">
  <section
    class="flex flex-col items-center justify-center h-[250px] bg-transparent mt-[100px]"
  >
    <div
      class="flex flex-col-reverse xs:flex-row sm:flex-row md:flex-row items-center justify-center p-6 space-y-4 md:space-y-0 text-center"
    >
      <h1 class="text-5xl sm:text-7xl font-bold mb-8 text-gray-300">
        Explore onchart.ai Power
      </h1>
    </div>
  </section>

  <section class="md:mt-44 md:pb-64 mt-12 pb-24 sm:mt-16 sm:pb-32">
    <div
      class="flex flex-col items-center justify-center w-full md:flex-row md:space-y-0 mx-auto space-y-4"
    >
      <div class="px-4 md:order-1 md:w-[60%] sm:w-full">
        <img
          src="../../../assets/images/WhatsApp Image 2023-11-23 at 21.25.20_f803ec10.jpg"
          alt=""
          class="h-full w-full object-cover"
        />
      </div>
      <div
        class="pl-4 md:pl-0 flex flex-col items-center justify-center text-center md:order-2 md:w-[40%] sm:w-full md:pb-0 sm:pb-10 xs:pb-5"
      >
        <h1
          class="max-w-full text-2xl font-bold text-center md:text-4xl pt-10 xs:text-xl text-gray-600"
        >
          ApexAlphaClouds
        </h1>
        <h3 class="text-lg font-semibold mt-4 text-gray-400 pb-2">
          AI Clouds for Support and Resistance
        </h3>
        <p class="max-w-md text-center text-xl xs:text-lg text-white">
          Harness the power of AI Clouds, tailored as dynamic support and
          resistance tools. Perfect for strategies like 'Lower Cloud Breakout',
          our AI Clouds adapt to various trading approaches, offering real-time,
          strategy-aligned insights.
        </p>
        <button
          class="mt-4 px-6 py-3 text-white bg-green-800 font-medium rounded-lg text-sm"
        >
          Get 30 Days risk free
        </button>
      </div>
    </div>
  </section>
  <section class="md:mt-44 md:pb-64 mt-16 pb-32">
    <div
      class="flex flex-col items-center justify-center w-full md:flex-row md:space-y-0 mx-auto space-y-4"
    >
      <div class="px-4 md:order-1 md:w-[60%] sm:w-full">
        <img
          src="../../../assets/images/WhatsApp Image 2023-11-23 at 21.25.21_3a98dd70.jpg"
          alt=""
          class="h-full w-full object-cover"
        />
      </div>
      <div
        class="pl-4 md:pl-0 flex flex-col items-center justify-center text-center md:order-2 md:w-[40%] sm:w-full md:pb-0 sm:pb-10 xs:pb-5"
      >
        <h1
          class="max-w-full text-2xl font-bold text-center md:text-4xl pt-10 xs:text-xl text-gray-600"
        >
          CandleSniper
        </h1>
        <h3 class="text-lg font-semibold mt-4 text-gray-400 pb-2">
          Reversal Candle Identification
        </h3>
        <p class="max-w-md text-center text-xl xs:text-lg text-white">
          Spot reversal opportunities effortlessly. Our tool identifies key
          reversal candles, offering price targets tailored for solid, medium,
          and extreme traders. Make informed trades with precision-targeted
          price levels.
        </p>
        <button
          class="mt-4 px-6 py-3 text-white bg-green-800 font-medium rounded-lg text-sm"
        >
          Get 30 Days risk free
        </button>
      </div>
    </div>
  </section>
  <section class="md:mt-44 md:pb-64 mt-16 pb-32">
    <div
      class="flex flex-col-reverse items-center justify-center w-full md:flex-row-reverse md:space-y-0 mx-auto"
    >
      <div class="px-4 md:order-1 md:w-[60%] sm:w-full">
        <img
          src="../../../assets/images/WhatsApp Image 2023-11-29 at 14.33.22_ef133e79.jpg"
          alt=""
          class="h-full w-full object-cover"
        />
      </div>
      <div
        class="pl-4 md:pl-0 flex flex-col items-center justify-center text-center md:order-2 md:w-[40%] sm:w-full md:pb-0 sm:pb-10 xs:pb-5"
      >
        <h1
          class="max-w-full text-2xl font-bold text-center md:text-4xl pt-10 xs:text-xl text-gray-500"
        >
          NeonZenith
        </h1>
        <h3 class="text-lg font-semibold mt-4 text-gray-400 pb-2">
          Market Trend Identifier with AI Belt
        </h3>
        <p class="max-w-md text-center text-xl xs:text-lg text-white">
          Stay ahead of market trends with our AI Belt, an intelligent tool for
          identifying market direction. It doubles as a smart support and
          resistance guide, providing valuable insights for trend-based trading
          strategies.
        </p>

        <h3 class="text-lg font-semibold mt-4 text-gray-400 pb-2">
          Analyze and Decision Point Signals
        </h3>
        <p class="max-w-md text-center text-xl xs:text-lg text-white">
          Empower your trading strategy with informed insights. Our tool
          highlights key areas in the market, suggesting moments to consider
          strategic decisions, such as pondering the initiation of a long trade.
          It's designed to aid in smart decision-making, offering you the
          knowledge to assess when it might be opportune to think about trading
          actions.
        </p>

        <button
          class="mt-4 px-6 py-3 text-white bg-green-800 font-medium rounded-lg text-sm"
        >
          Get 30 Days risk free
        </button>
      </div>
    </div>
  </section>
  <section class="md:mt-44 md:pb-64 mt-16 pb-32">
    <div
      class="flex flex-col-reverse items-center justify-center w-full md:flex-row md:space-y-0 mx-auto"
    >
      <div class="px-4 md:order-1 md:w-[60%] sm:w-full">
        <img
          src="../../../assets/images/WhatsApp Image 2023-11-29 at 14.33.21_95298379.jpg"
          alt=""
          class="h-full w-full object-cover"
        />
      </div>
      <div
        class="pl-4 md:pl-0 flex flex-col items-center justify-center text-center md:order-2 md:w-[40%] sm:w-full md:pb-0 sm:pb-10 xs:pb-5"
      >
        <h1
          class="max-w-full text-2xl font-bold text-center md:text-4xl pt-10 xs:text-xl text-gray-600"
        >
          MagnetZone Horizon
        </h1>
        <h3 class="text-lg font-semibold mt-4 text-gray-400 pb-2">
          Market Sorting Algorithm
        </h3>
        <p class="max-w-md text-center text-xl xs:text-lg text-white">
          Discover market potentials with our innovative sorting algorithm. It
          reveals maximum, minimum, and smart price areas, offering a 'smart
          frame' view of the market to identify lucrative trading opportunities.
        </p>
        <button
          class="mt-4 px-6 py-3 text-white bg-green-800 font-medium rounded-lg text-sm"
        >
          Get 30 Days risk free
        </button>
      </div>
    </div>
  </section>
  <section class="md:mt-44 md:pb-48 mt-16 pb-32">
    <section class="">
      <div
        class="flex flex-col-reverse items-center justify-center w-full md:flex-row md:space-y-0 mx-auto"
      >
        <!-- Image 1 -->
        <div class="order-2 md:pr-4 md:w-[25%] sm:w-full px-1 md:pb-0 pb-2">
          <img
            src="../../../assets/images/meore naxevari.jpg"
            alt=""
            class="h-full w-full object-cover"
          />
        </div>
        <!-- Image 2 -->
        <div
          class="order-1 w-full md:pl-4 md:w-[25%] sm:w-full md:pb-0 sm:pb-10 xs:pb-5 px-4 pt-2 md:pt-0"
        >
          <img
            src="../../../assets/images/naxevari.jpg"
            alt=""
            class="h-full w-full object-cover"
          />
        </div>
      </div>
    </section>
    <section>
      <div
        class="container flex flex-col-reverse md:flex-row items-center justify-center px-6 mx-auto space-y-0 md:space-y-0 pt-[100px]"
      >
        <div
          class="flex flex-col space-y-12 md:w-1/2 pt-16 text-center items-center justify-center"
        >
          <h1
            class="max-w-full text-2xl font-bold text-center md:text-4xl pt-10 xs:text-xl text-gray-600"
          >
            User-Friendly Control Panel
          </h1>
          <p class="max-w-md text-center text-xl xs:text-lg text-white">
            Customize your trading experience with our user-friendly control
            panel. Tailor settings to your trading style, ensuring a
            personalized and efficient trading journey.
          </p>
        </div>
      </div>
    </section>
  </section>
  <section class="md:mt-44 md:pb-64 mt-16 pb-32">
    <div
      class="flex flex-col items-center justify-center w-full md:flex-row md:space-y-0 mx-auto"
    >
      <div class="px-4 md:order-1 md:w-[60%] sm:w-full">
        <img
          src="../../../assets/images/WhatsApp Image 2023-11-29 at 14.33.23_b3ef29fb.jpg"
          alt=""
          class="h-full w-full object-cover"
        />
      </div>
      <div
        class="pl-4 md:pl-0 flex flex-col items-center justify-center text-center md:order-2 md:w-[40%] sm:w-full md:pb-0 sm:pb-10 xs:pb-5"
      >
        <h1
          class="max-w-full text-2xl font-bold text-center md:text-4xl pt-10 xs:text-xl text-gray-600"
        >
          ExodusEye
        </h1>
        <p class="max-w-md text-center text-xl xs:text-lg text-white">
          Efficiently screen desired tickers using our advanced screener, built
          on the robust features of onchart.ai. Make quick, informed decisions
          with our powerful screening tools.
        </p>
        <h3 class="text-lg font-semibold mt-4 text-gray-400 pb-2">
          Different Timeframe Screening
        </h3>
        <p class="max-w-md text-center text-xl xs:text-lg text-white">
          Versatile timeframe options in our screener let you view market
          dynamics in your preferred timeframes. Whether short-term or
          long-term, get the insights you need to trade effectively.
        </p>
        <h3 class="text-lg font-semibold mt-4 text-gray-400 pb-2">
          User-Friendly Settings Panel
        </h3>
        <p class="max-w-md text-center text-xl xs:text-lg text-white">
          Our screener's settings panel is designed with the user in mind.
          Easily adjust parameters to fit your screening criteria, ensuring a
          seamless and intuitive screening process.
        </p>
        <button
          class="mt-4 px-6 py-3 text-white bg-green-800 font-medium rounded-lg text-sm"
        >
          Get 30 Days risk free
        </button>
      </div>
    </div>
  </section>
</section>
