<section
  class="bg-cover bg-center h-[500px] mt-[-94px] flex flex-col items-center justify-center"
  style="
    background-image: url('../../../assets/images/19836723_6178721.jpg');
    background-attachment: fixed;
  "
>
  <!-- Flex Container -->
  <div
    class="flex flex-col-reverse xs:flex-row sm:flex-row md:flex-row items-center justify-center p-6 space-y-4 md:space-y-0 pt-[100px]"
  >
    <!-- Title -->
    <h1 class="text-6xl sm:text-8xl font-bold mb-8 text-gray-100">About Us</h1>
  </div>
</section>
<section
  class="bg-gradient-to-b from-[#282828] via-gray-500 to-[#282828] py-16"
>
  <div class="flex items-center justify-center px-6 text-center">
    <div
      class="flex flex-col mb-32 space-y-12 md:w-1/2 pt-32 text-center items-center justify-center"
    >
      <app-aboutus-div
        [title]="titlesArr[0]"
        [text]="textsArr[0]"
      ></app-aboutus-div>
      <app-aboutus-div
        [title]="titlesArr[1]"
        [text]="textsArr[1]"
      ></app-aboutus-div>
      <app-aboutus-div
        [title]="titlesArr[2]"
        [text]="textsArr[2]"
      ></app-aboutus-div>
      <app-aboutus-div
        [title]="titlesArr[3]"
        [text]="textsArr[3]"
      ></app-aboutus-div>
      <app-aboutus-div
        [title]="titlesArr[4]"
        [text]="textsArr[4]"
      ></app-aboutus-div>
      <app-aboutus-div
        [title]="titlesArr[5]"
        [text]="textsArr[5]"
      ></app-aboutus-div>
    </div>
  </div>
</section>
