<div class="container mx-auto py-16 sm:py-40 bg-transparent">
  <div class="flex flex-col items-center gap-10">
    <h1 class="text-6xl sm:text-6xl font-bold text-gray-300">FAQ</h1>
    <div
      class="w-full max-w-md xs:w-full sm:w-[350px] md:w-full lg:w-full xl:w-full px-4"
    >
      <app-card
        [text]="textsArr[0]"
        [title]="titlesArr[0]"
        [isClicked]="isClicked"
      ></app-card>
      <app-card
        [text]="textsArr[1]"
        [title]="titlesArr[1]"
        [isClicked]="isClicked"
      ></app-card>
      <app-card
        [text]="textsArr[2]"
        [title]="titlesArr[2]"
        [isClicked]="isClicked"
      ></app-card>
      <app-card
        [text]="textsArr[3]"
        [title]="titlesArr[3]"
        [isClicked]="isClicked"
      ></app-card>
    </div>
  </div>
</div>
